frameworkVersion: ">=1.2.0"

service: fullstackbulletin-newsletter-V${self:custom.version}

provider:
  name: aws
  runtime: nodejs8.10
  stage: ${opt:stage}
  region: eu-west-1
  memorySize: 1536
  timeout: 300
  cfLogs: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:DeleteObject
        - s3:GetObject
        - s3:PutObject
      Resource: arn:aws:s3:::${env:S3_DATA_BUCKET_NAME}/*

custom:
  version: 1

functions:
  createIssue:
    name: ${self:service}-createIssue
    handler: handler.createIssue
    environment:
      CACHE_DIR: ${env:CACHE_DIR}
      TWITTER_SCREEN_NAMES: ${env:TWITTER_SCREEN_NAMES}
      TWITTER_CONSUMER_KEY: ${env:TWITTER_CONSUMER_KEY}
      TWITTER_CONSUMER_SECRET: ${env:TWITTER_CONSUMER_SECRET}
      TWITTER_ACCESS_TOKEN_KEY: ${env:TWITTER_ACCESS_TOKEN_KEY}
      TWITTER_ACCESS_TOKEN_SECRET: ${env:TWITTER_ACCESS_TOKEN_SECRET}
      FACEBOOK_APP_ID: ${env:FACEBOOK_APP_ID}
      FACEBOOK_APP_SECRET: ${env:FACEBOOK_APP_SECRET}
      CLOUDINARY_CLOUD_NAME: ${env:CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_KEY: ${env:CLOUDINARY_API_KEY}
      CLOUDINARY_API_SECRET: ${env:CLOUDINARY_API_SECRET}
      CLOUDINARY_FOLDER: ${env:CLOUDINARY_FOLDER}
      MAILCHIMP_API_KEY: ${env:MAILCHIMP_API_KEY}
      MAILCHIMP_LIST_ID: ${env:MAILCHIMP_LIST_ID}
      MAILCHIMP_TEMPLATE_ID: ${env:MAILCHIMP_TEMPLATE_ID}
      MAILCHIMP_FROM_EMAIL: ${env:MAILCHIMP_FROM_EMAIL}
      MAILCHIMP_FROM_NAME: ${env:MAILCHIMP_FROM_NAME}
      MAILCHIMP_REPLY_TO_EMAIL: ${env:MAILCHIMP_REPLY_TO_EMAIL}
      MAILCHIMP_TEST_EMAILS: ${env:MAILCHIMP_TEST_EMAILS}
      S3_DATA_BUCKET_NAME: ${env:S3_DATA_BUCKET_NAME}
    events:
      - schedule: cron(0 17 ? * FRI *) # Every Friday at 5 pm
