{% import 'book.njk' as bookTpl %}
{% if links.us %}
  <p>{{ bookTpl.buy([links.us, '?tag=loige0e-20'] | join, "Buy on Amazon.com") }}</p>
{% endif %}
{% if links.uk %}
  <p>{{ bookTpl.buy([links.uk, '?tag=loige-21'] | join, "Buy on Amazon.co.uk") }}</p>
{% endif %}
{% if links.free %}
  <p>{{ bookTpl.buy(links.free, "Read for FREE!") }}</p>
{% endif %}