{% macro primary_image(link) %}
  <a href="{{ link.campaignUrls.image | default('https://example.com') }}" style="display:block" target="_blank" data-block-id="6">
    <img 
    width="564"
    style="border:0;width:564px;height:auto;max-width:100%;display:block"
    alt="{{ link.title | default('Primary article title') }}"
    src="{{ link.image | default('https://mcusercontent.com/b015626aa6028495fe77c75ea/images/f228bde0-87e1-994a-e918-0250cd0ee4c5.png') }}"
    role="presentation"
    class="imageDropZone"/>
  </a>
{% endmacro %}

{% macro content(link) %}
  <p>
    <a style="color:#73310F; font-weight: bold; font-size:20px; font-family:roboto,helvetica neue,helvetica,arial,sans-serif;" href="{{ link.campaignUrls.title | default('https://example.com') }}" target="_blank">
      {{ link.title | default('title') }}
    </a>
    <span style="color:#73310F; font-size:20px; font-family:roboto,helvetica neue,helvetica,arial,sans-serif;">&nbsp;&mdash;&nbsp;</span>
    {{ link.description | default('Article content... a very long piece of text that tells you some amazing stories about some fundamental piece of knowledge you should have to thrive as a Full Stack developer.') }}
    <a href="{{ link.campaignUrls.description | default('https://example.com') }}" target="_blank">
      <strong>{{ link.url | getLinkLabelBasedOnUrl }}</strong>
    </a>
  </p>
{% endmacro %}