<div data-block-id="83" class="mceText" id="dataBlockId-83" style="width:100%">
  <p style="text-align: center;">
    <span style="color:#797979;">
      <span style="font-size: 12px">This issue is kindly sponsored by:</span>
    </span>
  </p>
  <table style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;table-layout: fixed !important;mso-table-lspace: 0 !important;mso-table-rspace: 0 !important;border-spacing: 0 !important;border-collapse: collapse !important;margin: 0 auto !important;" width="100%" id="banner" class="last-child">
    <tbody>
      <tr style="-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
        <td colspan="1" rowspan="1" style="background: #2563EB;color: #fff;border-radius: 10px;padding: 1em;font-family: sans-serif;font-size: 14px;background-image: url(https://mcusercontent.com/b015626aa6028495fe77c75ea/images/7b3b9fe9-0ea9-9cb1-b19b-6c6cac967703.png);background-repeat: no-repeat;background-position: bottom left;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;mso-table-lspace: 0 !important;mso-table-rspace: 0 !important;">
          <p style="text-align: center; line-height: 1.5em; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
            <a href="https://feedhive.io/" style="color: #fff; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;"><span style="color:#fff;"><span style="text-decoration:underline;"><span style="font-size: 14px"><span style="font-family: sans-serif"><img src="https://mcusercontent.com/b015626aa6028495fe77c75ea/images/d3ade87a-c540-5170-cad3-88576e1b536c.png" alt="FeedHive logo" style="border: 0px initial;width: 200px;max-width: 200px;height: 50px;margin: 0px;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;-ms-interpolation-mode: bicubic;" width="200" height="50"></span></span></span></span></a>
          </p>
          <p style="text-align: center; line-height: 1.5em; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
            <span style="color:#fff;">
              <span style="font-size: 14px">
                <span style="font-family: sans-serif">We help upcoming influencers and businesses do big things 🚀<br>Start scheduling content today for free</span>
              </span>
            </span>
            <a href="https://feedhive.io/" target="_blank" style="color: #fff; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
              <span style="color:#fff;">
                <span style="text-decoration:underline;">
                  <span style="font-size: 14px">
                    <span style="font-family: sans-serif">here</span>
                  </span>
                </span>
              </span>
            </a>
            <span style="color:#fff;">
              <span style="font-size: 14px">
                <span style="font-family: sans-serif">.</span>
              </span>
            </span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>